body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.form-check table{
	width: 100%;
}
.form-check td{
	width: 50%;
	text-align: left;
	vertical-align: top;
}
legend{
	font-weight:bold;
	color:#a1937e;
}
