body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.form-check table{
	width: 100%;
}
.form-check td{
	width: 50%;
	text-align: left;
	vertical-align: top;
}
legend{
	font-weight:bold;
	color:#a1937e;
}

footer{
	height: 5vh;
	padding: 8px;
	background-color: whitesmoke;
	text-align: center;
	font-style: italic;
	font-size: smaller;
	color: grey;
}
